@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.c-pre-loader {
  width: 100%;
  height: 100vh;
  padding-top: 50vh;
  position: fixed;
  z-index: 9999;
  background-color: #418d63;
}

html,
body {
  overflow-x: hidden;
  font-family: Poppins;
}
.spinner-border {
  width: 4rem;
  height: 4rem;
}

.disapear {
  animation: vanish 1s forwards;
}

@keyframes vanish {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

.o-head-section {
  background-image: url(../images/banner.png);
  background-repeat: no-repeat;
}

.c-call-color {
  color: #fff;
  padding: 10px;
}

.c-main-content-heading {
  font-weight: 600;
  font-size: 2.5rem;
}

.c-heading-color {
  color: #5cc365;
}

.c-btn {
  background-color: #000;
  color: #fff;
  font-size: medium;
  border: none;
  outline: none;
}

.c-service-border {
  border: #5cc365 2px solid;
  padding: 20px;
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.o-section-2-layout {
  background-color: #d5eddf;
}

.c-card-img {
  border-radius: 10%;
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
}

.card-body {
  padding-left: 2rem;
}

.card-title {
  font-size: 2rem;
}

.card-text {
  font-size: 16px;
}

.c-btn-read-more {
  border: #5cc365 2px solid;
  color: #5cc365;
  background: transparent;
  font-size: medium;
}

.c-btn-read-more:hover {
  background-color: #5cc365;
  color: #fff;
}

.testimonial-slider .carousel-indicators button {
  width: 20px;
  height: 20px;
  background-color: #3fbc61;
  border-radius: 100%;
}

.carousel-indicators .active {
  background-color: #000 !important;
}

.carousel-indicators [data-bs-target] {
  opacity: 100% !important;
}

.testimonial-slider {
  padding: 10px 0px 40px;
}

.o-rounded-card {
  border-radius: 10%;
  color: #fff;
  background-color: #3fbc61;
}

.fa-circle {
  color: #dddddd;
}

.accordion-collapse {
  border: 0;
}

.accordion-button {
  padding: 0px;
  font-weight: bold;
  border: 0;
  font-size: 18px;
  color: #333333;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.accordion-button:focus {
  box-shadow: none;
  border: none;
}

.accordion-button:not(.collapsed) {
  background: none;
  color: #000;
}

.accordion-body {
  padding: 15px;
  background-color: #d5eddf;
  color: #000;
}

.accordion-button::after {
  width: auto;
  height: auto;
  content: "+";
  font-size: 40px;
  background-image: none;
  font-weight: 100;
  color: #3fbc61;
  transform: translateY(-4px);
}

.accordion-button:not(.collapsed)::after {
  width: auto;
  height: auto;
  background-image: none;
  content: "⁻";
  font-size: 48px;
  transform: translate(-5px, -4px);
  transform: rotate(0deg);
}

.accordion-item {
  border: #3fbc61 2px solid !important;
  margin-bottom: 1rem !important;
}

.accordion-header {
  padding-left: 20px !important;
  padding-right: 6px !important;
}

.c-ask-img {
  padding-top: 10rem;
}

.o-contact-us {
  background-image: url("../images/contact_bg.jpg");
  width: 100%;
}

.c-contact-btn {
  background-color: #fff;
  color: #3fbc61;
  font-size: medium;
}

.input-field {
  border: none;
  outline: none;
  border-bottom: #d3d3d3 solid 1px;
}

.input-field:focus {
  border: none;
  outline: none;
  border-bottom: #000 solid 1px;
  box-shadow: none;
}
.c-footer{
  bottom: 0;
  display: flex;
  align-items: center;
  align-content: center;
}
.c-footer .c-footer-txt{
  text-align: center;
}
@media screen and (min-width: 768px) {
  .services {
    padding-top: 12rem;
  }
}
@media screen and (max-width: 360px) {
.services {
    padding-top: 2rem;
  }
}
@media screen and (max-width: 768px) {
  .c-bg-mobile {
    background-color: #bccec4;
  }
}

@media screen and (min-width: 940px) and (max-width: 1674px) {
  .o-head-section {
    background: #fff;
  }
  .c-contact-us {
    display: none;
  }
  .c-bg-mobile {
    background-color: #bccec4;
  }
}
